h2 {
    position: absolute;
    background-color: lightgray;
    width: 90%;
}

#cardPile2 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 200px;
    top: 90.3%;
    left: 50%;
}

#cardPile1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 200px;
    bottom: 90%;
    left: 50%;
}

.player2 {
    top: 90%;
}

.cardCount {
    position: absolute;
    left: 30px;
    background-color: black;
    color: white;
    border: 2px;
    border-width: 5px;
    border-color: blue;
    padding: 3px;
    z-index: 1;
    top: 40%;
}

#two {
    left: 30%;
}

#three {
    left: 45%;
}

#four {
    left: 70%;
}

#five {
    left: 85%;
}

img {
    transform: rotate(90deg);
    position: relative;
    top: 360px;
    left: 2%;
}

.img2 {
    left: 12%;
}

.img3 {
    left: 22%;
}

.img4 {
    left: 32%;
}

.img5 {
    left: 42%;
    transform: rotate(0deg);
}

.start {
    height: 100px;
    font-size: xx-large;
}

.direction {
    text-decoration: underline;
}

button {
    border-color: black;
    background-color: salmon;
    position: relative;
    left: 32%;
    width: 40%;
}

button:hover {
    border-width: 3px;
    border-right: 1px;
    border-bottom: 1px;
}

.set {
    font-size: large;
}

.info {
    background-color: lightgray;
    border-color: grey;
    padding: 5px;
    border-radius: 3px;
    font-size: large;
    text-align: center;
}

.warning {
    background-color: red;
    text-align: center;
    position: relative;
    left: 38%;
    width: 580px;
    border-radius: 3px;
    padding: 5px;
    text-shadow: 5px;
}

h1 {
    text-align: center;
}

.popUpCards {
    transform: rotate(0);
    position: absolute;
    top: 150px;
    left: 2%;
    z-index: 2;
    width: 265px;
    height: 370px;
}

#d1 {
    left: 15%;
}

#d2 {
    left: 28%;
}

#d3 {
    left: 41%;
}

#d4 {
    left: 54%;
}

#d5 {
    left: 67%;
}

#d6 {
    left: 80%;
}

#d7 {
    top: 530px;
    left: 2%;
}

#d8 {
    top: 530px;
    left: 15%;
}

#d9 {
    top: 530px;
    left: 28%;
}

#d10 {
    top: 530px;
    left: 41%;
}

#d11 {
    top: 530px;
    left: 54%;
}

#d12 {
    top: 530px;
    left: 67%;
}

#d13 {
    top: 530px;
    left: 80%;
}

#d14 {
    top: 330px;
    left: 50%;
    z-index: 5;
}

.square {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #777;
    z-index: 1.9;
    opacity: 40%;
}

.choose {
    position: absolute;
    background-color: lightgreen;
    top: 2%;
    left: 2%;
}

.pass {
    position: absolute;
    background-color: #F44;
    top: 2%;
    left: 50%;
}