@page "/"

<PageTitle>Start</PageTitle>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<h1>Welcome to MTG Winston</h1>

<br>
<br>
<NavLink href="PickPacks">
    <button class="start">Start</button>
</NavLink>
<br>
<br>
<button @onclick="ShowInfo">Show More Information</button>
<br>
<br>

@if (wantInfo == true)
{
    <br>
    <br>
    <p class="info">
        Winston draft is a way to draft six Magic the Gathering booster packs between two people. This website is looking
        to let two players in the same room do this winston draft, download, and then import to MTG Arena.
    </p>
}



@code {
    bool wantInfo = false;

    public void NextPage()
    {
        wantInfo = false;
    }


    public async void ShowInfo()
    {
        wantInfo = true;
    }
}