h2 {
    position: absolute;
    background-color: lightgray;
    width: 90%;
}

#cardPile2 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 200px;
    top: 90.3%;
    left: 50%;
}

#cardPile1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 200px;
    bottom: 90%;
    left: 50%;
}

.player2 {
    top: 90%;
}

.cardCount {
    position: absolute;
    left: 30px;
    background-color: black;
    color: white;
    border: 2px;
    border-width: 5px;
    border-color: blue;
    padding: 3px;
    z-index: 1;
    top: 40%;
}

#two {
    left: 30%;
}

#three {
    left: 45%;
}

#four {
    left: 70%;
}

#five {
    left: 85%;
}

img {
    transform: rotate(90deg);
    position: relative;
    top: 360px;
    left: 2%;
}

.img2 {
    left: 12%;
}

.img3 {
    left: 22%;
}

.img4 {
    left: 32%;
}

.img5 {
    left: 42%;
    transform: rotate(0deg);
}

.start {
    height: 100px;
    font-size: xx-large;
}

.direction {
    text-decoration: underline;
}

button {
    border-color: black;
    background-color: salmon;
    position: relative;
    left: 32%;
    width: 40%;
}

button:hover {
    border-width: 3px;
    border-right: 1px;
    border-bottom: 1px; 
}

.set {
    font-size: large;
}

.info {
    background-color: lightgray;
    border-color: grey;
    padding: 5px;
    border-radius: 3px;
    font-size: large;
}

.warning {
    background-color: red;
    text-align: center;
    position: relative;
    left: 38%;
    width: 580px;
    border-radius: 3px;
    padding: 5px;
    text-shadow: 5px;
}

h1{
    text-align: center;
}