@page "/Fof/{DOM}/{WAR}/{NEO}/{containBasics}"
@using Winston

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/Fof.css">

<head>
    <PageTitle>3x3 draft</PageTitle>
</head>

<link rel="stylesheet" href="css/Fof.css">

<body>
    @if (StaticPileOfCards.PileOfCards == null)
    {
        <h1 class="loading">LOADING</h1>
    }
    else
    {
        @if (tooManyPlayers == true)
        {
            <p>WARNING THERE ARE @StaticPileOfCards.Player + PLAYERS, YOUR ARE THE THIRD PLAYER</p>
        }

        <div class="cardCount">@StaticPileOfCards.PileOfCards.Count</div>

        <img class="stackOcards" src="BackOfMTGCard.jpg" alt="Back of a MTG card" id="focus">
        <p>@thisPlayer</p>
        <button @onclick="Exit">Exit</button>
    }
</body>

</html>

@code {
    [Parameter]
    public string DOM { get; set; }
    [Parameter]
    public string WAR { get; set; }
    [Parameter]
    public string NEO { get; set; }
    [Parameter]
    public string containBasics { get; set; }
    public int thisPlayer = 0;
    public bool tooManyPlayers = false;

    protected override async Task OnInitializedAsync()
    {
        if (StaticPileOfCards.Using == false)
        {
            General.ApiHelper.InitializeClient();
            Winston.StackOCards aHeapOCards = new Winston.StackOCards();
            StaticPileOfCards.PileOfCards = await aHeapOCards.MixAllBoosters(int.Parse(DOM), int.Parse(WAR), int.Parse(NEO));

            if (containBasics == "True")
            {
                StaticPileOfCards.PileOfCards = Winston.General.TakeOutType(StaticPileOfCards.PileOfCards);
            }

            StaticPileOfCards.Using = true;
            thisPlayer = 1;
        }
        else if (StaticPileOfCards.Player < 3)
        {
            thisPlayer = 2;
            ChangeStatic();
        }
        else
        {
            tooManyPlayers = true;
        }
    }

    public void Exit()
    {
        StaticPileOfCards.PileOfCards = null;
        StaticPileOfCards.Player = 0;
        StaticPileOfCards.Using = false;
    }

    public void ChangeStatic()
    {
        StaticPileOfCards.Player = StaticPileOfCards.Player + 1;
    }
}
