@page "/ImportDecks"

<PageTitle>Import Drafted Decks</PageTitle>

<h1>This is the importDecks page</h1>

<br>
<p>Player 1's deck list is <a href="Player1.txt">here</a></p>
<br>
<br>
<p>Player 2's deck list is <a href="PickPacks">here</a></p>