@page "/MoreInfo"

<link rel="stylesheet" href="css/moreInfo.css">

<PageTitle>Here is the page with more info</PageTitle>

<table>
    <tr>
    <td @onclick="ActivatewMTG">What is Magic the Gathering?</td>
    <td @onclick="ActivatewD">What is drafting?</td>
    <td @onclick="ActivatewWD">What is Winston drafting?</td>
    <td @onclick="Activatetxt">What is 3 x 3 drafting?</td>
    <td @onclick="Activatefof">What is Fact or Fiction drafting (Solomon)?</td>
    <td @onclick="Activateapp">How can I use this app?</td>

    <NavLink href="/">
        <th>HOME</th>
    </NavLink>
    </tr>
</table>

@if (wMTG)
{
    <h2>What is Magic the Gathering: </h2>
    <p> MTG is Magic The Gathering</p>
}
else if (wD)
{
    <h2>What is Draft: </h2>
    <p>Winston draft is a way to draft six Magic the Gathering booster packs between two people. This website is looking
        to let two players in the same room do this winston draft, download, and then import to MTG Arena.</p>
}
else if (wWD)
{
    <h2>What is Winston Draft: </h2>
    <p>This is a Winston draft</p>
}
else if (txt)
{
    <h2>What is 3 x 3 Drafting: </h2>
    <p>This is a 3 x3 or Grid Draft draft</p>
}
else if (fof)
{
    <h2>What is Fact or Fiction (Solomon) Drafting: </h2>
    <p>This is a fact or fiction draft</p>
}
else if (app)
{
    <h2>How to use my app: </h2>
    <p>This is how to use my app</p>
}

@code {
    bool wMTG = false;
    bool wD = false;
    bool wWD = false;
    bool txt = false;
    bool fof = false;
    bool app = false;

    public void ActivatewMTG()
    {
        AllFalse();
        IftrueThenFalse(ref wMTG);
    }

    public void ActivatewD()
    {
        AllFalse();
        IftrueThenFalse(ref wD);
    }

    public void ActivatewWD()
    {
        AllFalse();
        IftrueThenFalse(ref wWD);
    }

    public void Activatetxt()
    {
        AllFalse();
        IftrueThenFalse(ref txt);
    }

    public void Activatefof()
    {
        AllFalse();
        IftrueThenFalse(ref fof);
    }

    public void Activateapp()
    {
        AllFalse();
        IftrueThenFalse(ref app);
    }

    public void IftrueThenFalse(ref bool b)
    {
        if (b == true)
        {
            b = false;
        }
        else
        {
            b = true;
        }
    }

    public void AllFalse()
    {
        wMTG = false;
        wD = false;
        wWD = false;
        txt = false;
        fof = false;
        app = false;
    }
}
