@page "/MoreInfo"

<link rel="stylesheet" href="css/moreInfo.css">

<PageTitle>Here is the page with more info</PageTitle>

<button @onclick="ActivatewMTG">What is Magic the Gathering?</button>
<br>
<button @onclick="ActivatewD">What is drafting</button>
<br>
<button @onclick="ActivatewWD">What is Winston drafting?</button>
<br>
<button @onclick="Activatetxt">What is 3 x 3 drafting?</button>
<br>
<button @onclick="Activatefof">What is Fact or Fiction drafting (Solomon)?</button>
<br>
<button @onclick="Activateapp">How can I use this app?</button>
<br>

<NavLink href="/">
    <button>HOME</button>
</NavLink>

@if (wMTG)
{
    <p> MTG is Magic The Gathering</p>
}
else if (wD)
{
    <p>Winston draft is a way to draft six Magic the Gathering booster packs between two people. This website is looking
        to let two players in the same room do this winston draft, download, and then import to MTG Arena.</p>
}
else if (wWD)
{
    <p>This is a Winston draft</p>
}
else if (txt)
{
    <p>This is a 3 x3 or Grid Draft draft</p>

}
else if (fof)
{
    <p>This is a fact or fiction draft</p>
}
else if (app)
{
    <p>This is how to use my app</p>
}

@code {
    bool wMTG = false;
    bool wD = false;
    bool wWD = false;
    bool txt = false;
    bool fof = false;
    bool app = false;

    public void ActivatewMTG()
    {
        AllFalse();
        IfTrueThenFalse(ref wMTG);
    }

    public void ActivatewD()
    {
        AllFalse();
        IfTrueThenFalse(ref wD);
    }

    public void ActivatewWD()
    {
        AllFalse();
        IfTrueThenFalse(ref wWD);
    }

    public void Activatetxt()
    {
        AllFalse();
        IfTrueThenFalse(ref txt);
    }

    public void Activatefof()
    {
        AllFalse();
        IfTrueThenFalse(ref fof);
    }

    public void Activateapp()
    {
        AllFalse();
        IfTrueThenFalse(ref app);
    }

    public void IfTrueThenFalse(ref bool b)
    {
        if (b == true)
        {
            b = false;
        }
        else
        {
            b = true;
        }
    }

    public void AllFalse()
    {
        wMTG = false;
        wD = false;
        wWD = false;
        txt = false;
        fof = false;
        app = false;
    }
}
