@page "/PickPacks"
@inject NavigationManager UriHelper

<PageTitle>Packs</PageTitle>
<html>

<head>
    <link rel="stylesheet" href="css/PickPacks.css">
</head>

<h1>Pick your packs</h1>
<h3 class="direction">Choose your six packs:</h3>

<p @oninput="InputCheck" class="set">Kamigawa: Neon Dynisty: <input type="number" name="NEO" min="0" max="6" @bind="NEO">
</p>
<br>
<br>
<p @oninput="InputCheck" class="set">War of the Spark: <input type="number" name="WAR" min="0" max="6" @bind="WAR"></p>
<br>
<br>
<p @oninput="InputCheck" class="set">Dominaria: <input type="number" name="DOM" min="0" max="6" @bind="DOM"></p>
<br>
<br>
<form>
    <fieldset>
        <label for="draftType">Pick which way to draft: </label>
        <select name="draftType" @bind="draftType" @onclick="AddPacks">
            <option value="---">---</option>
            <option value="WinstonDraft">Winston Draft</option>
            <option value="Fof">Fact or Fiction</option>
            <option value="ThreeByThree">3 x 3</option>
        </select>
    </fieldset>
</form>
<br>
<br>
<form>
    <input type="checkbox" name="removeLands" id="removeLands" @bind="containBasics">
    <label for="removeLands">Remove basic lands from draft</label>
</form>

@if (check)
{
    <br>
    <br>
    <button @onclick="PassValue">Start</button>
}
else
{
    <br>
    <br>
    <p class="grey">Please pick a total of six packs (click on the arrows)</p>
}
<footer>
    <h6 class="policy">Winston_MTG is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.</h6>
</footer>
</html>

@code {
    bool containBasics = false;
    bool check = false;  
    string draftType = null;
    int NEO;
    int WAR;
    int DOM;
    public void AddPacks()
    {
        check = false;
        
        if (NEO + WAR + DOM == 6 && draftType != "---" && draftType != null)
        {
            check = true;
        }
    }

    public void InputCheck()
    {
        check = false;
        
        if (NEO + WAR + DOM == 5 && draftType != "---" && draftType != null)
        {
            check = true;
        }
    }

    private void PassValue()
    {
        UriHelper.NavigateTo($"{draftType}/{DOM}/{WAR}/{NEO}/{containBasics}");
    }
}