@page "/"
@using Syncfusion.Blazor.SplitButtons

<PageTitle>Start</PageTitle>

<head>
    <link rel="stylesheet" href="css/start.css">
</head>

<h1>Welcome to MTG Winston</h1>

<br>
<br>
<NavLink href="PickPacks">
    <button class="start">Start</button>
</NavLink>
<br>
<br>
<NavLink href="MoreInfo">
    <button class="secondButton">More Information</button>
</NavLink>
<footer>
    <h6 class="policy">Winston_MTG is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.</h6>
</footer>