@page "/"

<PageTitle>Start</PageTitle>

<head>
    <link rel="stylesheet" href="css/start.css">
</head>

<h1>Welcome to MTG Winston</h1>

<br>
<br>
<NavLink href="PickPacks">
    <button class="start">Start</button>
</NavLink>
<br>
<br>
<NavLink href="MoreInfo">
    <button class="secondButton">More Information</button>
</NavLink>