@page "/"
@inject NavigationManager UriHelper

<PageTitle>Start</PageTitle>

<head>
    <link rel="stylesheet" href="css/start.css">
</head>


<br>
<br>
<div class="conX">
    <h1>Welcome to MTG Winston</h1>
        <button class="start" @onclick="MoveToPickPacks">Start</button>
    <br>
    <br>
        <button class="moreInfo" @onclick="MoveToInfo">More Information</button>
</div>
<footer>
    <h6 class="policy">Winston_MTG is unofficial Fan Content permitted under the Fan Content Policy. Not
        approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of
        the Coast LLC.</h6>
</footer>

@code {
    public void MoveToPickPacks ()
    {
        UriHelper.NavigateTo("/PickPacks");
    }

    public void MoveToInfo ()
    {
        UriHelper.NavigateTo("/MoreInfo");
    }
}