.loading {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    animation-name: TogglingSize;
    animation-duration: 4s;
    animation-iteration-count: 6;
}

@keyframes TogglingSize {
    0% {
        font-size: xx-large;
    }

    50% {
        font-size: xx-small;
    }

    100% {
        font-size: xx-large;
    }
}

button {
    border-color: black;
    background-color: salmon;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}

.seeDraftedCards {
    background-color: lightgrey;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Right bellow the cards */
.done {
    position: absolute;
    top: 400px;
    right: 30px;
    width: 90px;
}

.update {
    position: absolute;
    top: 10px;
    left: 200px;
}

.exit {
    position: absolute;
    right: 10px;
    bottom: 50px;
}

.policy {
    position: fixed;
    font-size: small;
    color: grey;
    bottom: 5px;
    right: 5px;
}

img {
    width: 265px;
    height: 370px;
}

.stackOcards {
    position: absolute;
    top: 1%;
    right: 1%;
}

#focus:hover {
    box-shadow: 10px 5px 7px grey;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3.9%;
    border-left: 1px;
    border-top: 1px;
}

.cardCount {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    font-size: larger;
    top: 1%;
    right: 1%;
}

.FaceUpCardContainer {
    position: absolute;
    width: 68%;
    height: 390px;
    background-color: lightgrey;
    border: 2px solid black;
    left: 16%;
    top: 15%;
    z-index: 0;
}

.FaceDownCardContainer {
    position: absolute;
    width: 68%;
    height: 390px;
    background-color: grey;
    border: 2px solid black;
    left: 16%;
    top: 51%;
    z-index: 0;
    color: lightgrey;
    text-align: center;
}

.popUpCards {
    position: absolute;
    z-index: 2;
    top: 16%;
}

#d0 {
    left: 18%;
}

#d1 {
    left: 31%;
}

#d2 {
    left: 44%;
}

#d3 {
    left: 57%;
}

#d4 {
    left: 70%;
}

#q0 {
    left: 18%;
    top: 52%;
}

#q1 {
    top: 52%;
    left: 31%;
}

#q2 {
    top: 52%;
    left: 44%;
}

#q3 {
    top: 52%;
    left: 57%;
}

#q4 {
    top: 52%;
    left: 70%;
}

.card-container:first-child {
    display: flex;
    justify-content: space-around;
}

.card-status {
    display: flex;
    flex-direction: row;
}

.card-status img {
    flex: 1;
}

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    height: 430px;
    min-width: 300px;
    list-style: none;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}

li {
    list-style: none;
}

.HideShownCards {
    position: absolute;
    top: 2%;
    left: 50%;
    z-index: 4;
}

.square {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #777;
    z-index: 3;
    opacity: 40%;
}

[id^='p'] {
    position: absolute;
    z-index: 5;
    top: 5%;
}

#p0 {
    left: 1px;
}

#p1 {
    left: 11%;
}

#p2 {
    left: 22%;
}

#p3 {
    left: 33%;
}

#p4 {
    left: 44%;
}

#p5 {
    left: 55%;
}

#p6 {
    left: 66%;
}

#p7 {
    left: 77%;
}

#p8 {
    left: 88%;
}

#p9 {
    top: 15%;
    left: 1px;
}

#p10 {
    top: 15%;
    left: 11%;
}

#p11 {
    top: 15%;
    left: 22%;
}

#p12 {
    top: 15%;
    left: 33%;
}

#p13 {
    top: 15%;
    left: 44%;
}

#p14 {
    top: 15%;
    left: 55%;
}

#p15 {
    top: 15%;
    left: 66%;
}

#p16 {
    top: 15%;
    left: 77%;
}

#p17 {
    top: 15%;
    left: 88%;
}

#p18 {
    top: 23%;
    left: 1px;
}

#p19 {
    top: 23%;
    left: 11%;
}

#p20 {
    top: 23%;
    left: 22%;
}

#p21 {
    top: 23%;
    left: 33%;
}

#p22 {
    top: 23%;
    left: 44%;
}

#p23 {
    top: 23%;
    left: 55%;
}

#p24 {
    top: 23%;
    left: 66%;
}

#p25 {
    top: 23%;
    left: 77%;
}

#p26 {
    top: 23%;
    left: 88%;
}

#p27 {
    top: 31%;
    left: 1px;
}

#p28 {
    top: 31%;
    left: 11%;
}

#p29 {
    top: 31%;
    left: 22%;
}

#p30 {
    top: 31%;
    left: 33%;
}

#p31 {
    top: 31%;
    left: 44%;
}

#p32 {
    top: 31%;
    left: 55%;
}

#p33 {
    top: 31%;
    left: 66%;
}

#p34 {
    top: 31%;
    left: 77%;
}

#p35 {
    top: 31%;
    left: 88%;
}

#p36 {
    top: 39%;
    left: 1px;
}

#p37 {
    top: 39%;
    left: 11%;
}

#p38 {
    top: 39%;
    left: 22%;
}

#p39 {
    top: 39%;
    left: 33%;
}

#p40 {
    top: 39%;
    left: 44%;
}

#p41 {
    top: 39%;
    left: 55%;
}

#p42 {
    top: 39%;
    left: 66%;
}

#p43 {
    top: 39%;
    left: 77%;
}

#p44 {
    top: 39%;
    left: 88%;
}

#p45 {
    top: 47%;
    left: 1px;
}

#p46 {
    top: 47%;
    left: 11%;
}

#p47 {
    top: 47%;
    left: 22%;
}

#p48 {
    top: 47%;
    left: 33%;
}

#p50 {
    top: 47%;
    left: 44%;
}

#p51 {
    top: 47%;
    left: 55%;
}

#p52 {
    top: 47%;
    left: 66%;
}

#p53 {
    top: 47%;
    left: 77%;
}

#p54 {
    top: 47%;
    left: 88%;
}

#p55 {
    top: 55%;
    left: 1px;
}

#p56 {
    top: 55%;
    left: 11%;
}