.loading {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    animation-name: TogglingSize;
    animation-duration: 4s;
    animation-iteration-count: 6;
}

@keyframes TogglingSize {
    0% {
        font-size: xx-large;
    }

    50% {
        font-size: xx-small;
    }

    100% {
        font-size: xx-large;
    }
}

img {
    width: 265px;
    height: 370px;
}

.stackOcards {
    position: absolute;
    top: 1%;
    right: 1%;
}

#focus:hover {
    box-shadow: 10px 5px 7px grey;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3.9%;
    border-left: 1px;
    border-top: 1px;
}

.cardCount {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    font-size: larger;
    top: 1%;
    right: 1%;
}

.FaceUpCardContainer {
    position: absolute;
    width: 68%;
    height: 390px;
    background-color: lightgrey;
    border: 2px solid black;
    left: 16%;
    top: 15%;
    z-index: 0;
}

.FaceDownCardContainer {
    position: absolute;
    width: 68%;
    height: 390px;
    background-color: grey;
    border: 2px solid black;
    left: 16%;
    top: 51%;
    z-index: 0;
    color: lightgrey;
    text-align: center;
}

.popUpCards {
    position: absolute;
    z-index: 2;
    top: 16%;
}

#d0 {
    left: 18%;
}

#d1 {
    left: 31%;
}

#d2 {
    left: 44%;
}

#d3 {
    left: 57%;
}

#d4 {
    left: 70%;
}

#q0 {
    left: 18%;
    top: 52%;
}

#q1 {
    top: 52%;
    left: 31%;
}

#q2 {
    top: 52%;
    left: 44%;
}

#q3 {
    top: 52%;
    left: 57%;
}

#q4 {
    top: 52%;
    left: 70%;
}

.card-container:first-child {
    display: flex;
    justify-content: space-around;
}

.card-status {
    display: flex;
    flex-direction: row;
}

.card-status img {
    flex: 1;
}

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    height: 430px;
    min-width: 300px;
    list-style: none;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}

li {
    list-style: none;
}