p { 
    padding: 10px;
    border-radius: 3px;
    font-size: large;
}

h2 {
    border: 10px solid white;
}

table {
    width: 100%;
    border: 1px solid lightgray;
}

.policy {
    position: fixed;
    font-size: small;
    color: grey;
    bottom: 5px;
    right: 5px;
}

img {
    height: 311px;
}