.info { 
    background-color: lightgray;
    border-color: grey;
    padding: 5px;
    border-radius: 3px;
    font-size: large;
    text-align: center;
}

button {
    border-color: black;
    background-color: salmon;
    position: relative;
    left: 32%;
    width: 40%;
    margin: 3px;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}