.direction {
    text-decoration: underline;
}

.set {
    font-size: large;
}

.grey {
    color: #777;
}

h1 {
    text-align: center;
}

button {
    border-color: black;
    background-color: salmon;
    position: absolute;
    left: 32%;
    width: 40%;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}

.policy {
    position: fixed;
    font-size: small;
    color: grey;
    bottom: 5px;
    right: 5px;
}