.conX {
    font-size: 28px;
    font-family: sans-serif;
    display: grid;
    gap: 15px;
    grid-template-areas:
    'A A A A'
    'B B B B'
    'C C C C';
}

button {
    border-color: black;
    background-color: salmon;
    align-items: center;
    justify-content: center;
    display: grid;
}

h1 {
    text-align: center;
    display: grid;
    grid-area: A;
}

.start {

    grid-area: B;
}

.moreInfo {
    display: grid;
    grid-area: C;
}

.policy {
    position: fixed;
    font-size: small;
    color: grey;
    bottom: 5px;
    right: 5px;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}
