.popUpCards {
    position: absolute;
    height: 30%;
    top: 7%;
    left: 30%;
}

.loading {
    position: absolute;
    top: 45%;
    left: 45%;
    animation-name: turning;
    animation-duration: 4s;
    animation-iteration-count: 6;
}

.popUpCards:hover {
    z-index: 100;
    height: 555px;
    transition-delay: 1s;
}

img {
    z-index: 2;
}

h4 {
    position: absolute;
    top: 2%;
    width: 30%;
}

.policy {
    position: fixed;
    font-size: small;
    color: grey;
    bottom: 5px;
    right: 5px;
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
    }

    /* 25% {
        rotate: 90%;
    } */

    50% {
        transform: rotate(180deg);
    }

    /* 75% {
        rotate: 90%;
    } */

    100% {
        transform: rotate(360deg);
    }
}

.stackOcards {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 10%;
    height: 10%;
}

.cardCount {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    font-size: larger;
    top: 35.8%;
    left: 53.5%;
}

h1 {
    position: absolute;
    top: 5%;
    z-index: 2;
}

.square {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #777;
    z-index: 1.9;
    opacity: 40%;
}



#d1 {
    left: 45%;
}

#d2 {
    left: 60%;
}

#d3 {
    top: 38%;
}

#d4 {
    top: 38%;
    left: 45%
}

#d5 {
    top: 38%;
    left: 60%
}

#d6 {
    top: 69%;
}

#d7 {
    top: 69%;
    left: 45%;
}

#d8 {
    top: 69%;
    left: 60%
}

.column {
    position: absolute;
    top: 2%;
    left: 33%;
    background-color: darkblue;
    color: white;
}

#c2 {
    left: 49%;
    background-color: blue;
}

#c3 {
    left: 64%;
    background-color: lightblue;
    color: black;
    z-index: 2;
}

.c1Line {
    position: absolute;
    background-color: darkblue;
    height: 83%;
    width: 2%;
    left: 34%;
    top: 2%;
    z-index: -1;
}

.c2Line {
    position: absolute;
    background-color: blue;
    height: 83%;
    width: 2%;
    left: 50%;
    top: 2%;
    z-index: -1;
}

.c3Line {
    position: absolute;
    background-color: lightblue;
    height: 83%;
    width: 2%;
    left: 65%;
    top: 2%;
    z-index: -1.1;
    border: 1px solid black;
}

.row {
    position: absolute;
    background-color: darkorange;
    left: 26%;
    top: 21%;
}

#r2 {
    top: 52%;
    background-color: orange;
}

#r3 {
    top: 83%;
    background-color: rgb(255, 209, 125);
}

.r1Line {
    position: absolute;
    width: 40%;
    height: 1%;
    top: 22%;
    left: 26%;
    background-color: darkorange;
    z-index: -1;
}

.r2Line {
    position: absolute;
    width: 40%;
    height: 1%;
    top: 53%;
    left: 26%;
    background-color: orange;
    z-index: -1;
}

.r3Line {
    position: absolute;
    width: 40%;
    height: 1%;
    top: 84%;
    left: 26%;
    background-color: rgb(255, 209, 125);
    z-index: -1;
}

#focus:hover {
    box-shadow: 10px 5px 7px grey;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3.9%;
    border-left: 1px;
    border-top: 1px;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}

#cardPile1 {
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 90%;
    left: 10%;
}

#cardPile2 {
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 90%;
    left: 80%;
}

ul {
    font-size: xx-large;
}

li {
    list-style: none;
}

#p0 {
    left: 1px;
}

#p1 {
    left: 11%;
}

#p2 {
    left: 22%;
}

#p3 {
    left: 33%;
}

#p4 {
    left: 44%;
}

#p5 {
    left: 55%;
}

#p6 {
    left: 66%;
}

#p7 {
    left: 77%;
}

#p8 {
    left: 88%;
}

#p9 {
    top: 15%;
    left: 1px;
}

#p10 {
    top: 15%;
    left: 11%;
}

#p11 {
    top: 15%;
    left: 22%;
}

#p12 {
    top: 15%;
    left: 33%;
}

#p13 {
    top: 15%;
    left: 44%;
}

#p14 {
    top: 15%;
    left: 55%;
}

#p15 {
    top: 15%;
    left: 66%;
}

#p16 {
    top: 15%;
    left: 77%;
}

#p17 {
    top: 15%;
    left: 88%;
}

#p18 {
    top: 23%;
    left: 1px;
}

#p19 {
    top: 23%;
    left: 11%;
}

#p20 {
    top: 23%;
    left: 22%;
}

#p21 {
    top: 23%;
    left: 33%;
}

#p22 {
    top: 23%;
    left: 44%;
}

#p23 {
    top: 23%;
    left: 55%;
}

#p24 {
    top: 23%;
    left: 66%;
}

#p25 {
    top: 23%;
    left: 77%;
}

#p26 {
    top: 23%;
    left: 88%;
}

#p27 {
    top: 31%;
    left: 1px;
}

#p28 {
    top: 31%;
    left: 11%;
}

#p29 {
    top: 31%;
    left: 22%;
}

#p30 {
    top: 31%;
    left: 33%;
}

#p31 {
    top: 31%;
    left: 44%;
}

#p32 {
    top: 31%;
    left: 55%;
}

#p33 {
    top: 31%;
    left: 66%;
}

#p34 {
    top: 31%;
    left: 77%;
}

#p35 {
    top: 31%;
    left: 88%;
}

#p36 {
    top: 39%;
    left: 1px;
}

#p37 {
    top: 39%;
    left: 11%;
}

#p38 {
    top: 39%;
    left: 22%;
}

#p39 {
    top: 39%;
    left: 33%;
}

#p40 {
    top: 39%;
    left: 44%;
}

#p41 {
    top: 39%;
    left: 55%;
}

#p42 {
    top: 39%;
    left: 66%;
}

#p43 {
    top: 39%;
    left: 77%;
}

#p44 {
    top: 39%;
    left: 88%;
}

#p45 {
    top: 47%;
    left: 1px;
}

#p46 {
    top: 47%;
    left: 11%;
}

#p47 {
    top: 47%;
    left: 22%;
}

#p48 {
    top: 47%;
    left: 33%;
}

#p50 {
    top: 47%;
    left: 44%;
}

#p51 {
    top: 47%;
    left: 55%;
}

#p52 {
    top: 47%;
    left: 66%;
}

#p53 {
    top: 47%;
    left: 77%;
}

#p54 {
    top: 47%;
    left: 88%;
}

#p55 {
    top: 55%;
    left: 1px;
}

#p56 {
    top: 55%;
    left: 11%;
}
