h2 {
    position: absolute;
    background-color: lightgray;
    width: 90%;
}

.popUpCards:hover {
    z-index: 100;
    width: 397.5px;
    height: 555px;
}

.youSure {
    color: black;
    top: 30%;
    z-index: 20;
}

#cardPile {
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 200px;
    bottom: 89.7%;
    left: 80%;
    z-index: 2;
}

.changePlayers {
    position: absolute;
    bottom: 89.7%;
}

.leave {
    position: absolute;
    bottom: 5%;
    left: 80%;
    width: 100px;
}

li {
    list-style: none;
}

.cardCount {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
    top: 44%;
}

/* 
background-color: white;
color: black;
border: 1px solid black; 
*/

#one {
    left: 14%;
}

#two {
    left: 33.5%;
}

#three {
    left: 53%;
}

#four {
    left: 72.5%;
}

#five {
    left: 89.9%;
    top: 40%;
}

img {
    transform: rotate(90deg);
    position: relative;
    top: 360px;
    left: 2%;
}

.img2 {
    left: 12%;
}

.img3 {
    left: 22%;
}

.img4 {
    left: 32%;
}

.img5 {
    left: 42%;
    transform: rotate(0deg);
}

button {
    border-color: black;
    background-color: salmon;
    position: absolute;
    left: 32%;
    width: 40%;
}

button:active {
    border-width: 4px;
    border-right: 1px;
    border-bottom: 1px;
}

.warning {
    background-color: red;
    text-align: center;
    position: relative;
    left: 38%;
    width: 580px;
    border-radius: 3px;
    padding: 5px;
    text-shadow: 5px;
}

.popUpCards {
    transform: rotate(0);
    position: absolute;
    top: 150px;
    left: 2%;
    z-index: 2;
    width: 265px;
    height: 370px;
}

.square {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #777;
    z-index: 1.9;
    opacity: 40%;
}

.choose {
    position: absolute;
    background-color: lightgreen;
    top: 2%;
    left: 2%;
}

.pass {
    position: absolute;
    background-color: #F44;
    top: 2%;
    left: 50%;
}

.forceCard {
    position: absolute;
    left: 15%;
    top: 15%;
}

.forceButton {
    position: absolute;
    left: 50%;
    top: 16%;
    background-color: lightgreen;
}

#fade {
    opacity: 20%;
}

#gone {
    opacity: 0%;
}

.player1 {
    background-color: #FFF;
    color: black;
    padding: 2px;
    border: 3px solid black; 
}

.player2 {
    background-color: black;
    color: #FFF;
    padding: 2px;
}

#focus:hover {
    box-shadow: 10px 5px 7px grey;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3.9%;
    border-left: 1px;
    border-top: 1px;
}

.return {
    position: absolute;
    top: 90%;
    z-index: 7;
}

.endIt {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2;
}

.loading {
    position: absolute;
    top: 45%;
    left: 45%;
    animation-name: fadingInOut;
    animation-duration: 4s;
    animation-iteration-count: 7;
}

@keyframes fadingInOut {
    0% {
        color: black;
    }

    25% {
        color: white;
    }

    50% {
        color: black;
    }

    75% {
        color: white;
    }

    50% {
        color: black;
    }
}

#d1 {
    left: 15%;
}

#d2 {
    left: 28%;
}

#d3 {
    left: 41%;
}

#d4 {
    left: 54%;
}

#d5 {
    left: 67%;
}

#d6 {
    left: 80%;
}

#d7 {
    top: 530px;
    left: 2%;
    z-index: 10;
}

#d8 {
    top: 530px;
    left: 15%;
    z-index: 10;
}

#d9 {
    top: 530px;
    left: 28%;
    z-index: 10;
}

#d10 {
    top: 530px;
    left: 41%;
    z-index: 10;
}

#d11 {
    top: 530px;
    left: 54%;
    z-index: 10;
}

#d12 {
    top: 530px;
    left: 67%;
    z-index: 10;
}

#d13 {
    top: 530px;
    left: 80%;
    z-index: 10;
}

#d14 {
    top: 190px;
    left: 2%;
    z-index: 3;
}

#d15 {
    top: 190px;
    left: 15%;
    z-index: 3;
}

#d16 {
    top: 190px;
    left: 28%;
    z-index: 3;
}

#d17 {
    top: 190px;
    left: 41%;
    z-index: 3;
}

#d18 {
    top: 190px;
    left: 54%;
    z-index: 3;
}

#d19 {
    top: 190px;
    left: 67%;
    z-index: 3;
}

#d20 {
    top: 190px;
    left: 80%;
    z-index: 3;
}

#d21 {
    top: 230px;
    left: 2%;
    z-index: 4;
}

#d22 {
    top: 230px;
    left: 15%;
    z-index: 4;
}

#d23 {
    top: 230px;
    left: 28%;
    z-index: 4;
}

#d24 {
    top: 230px;
    left: 41%;
    z-index: 4;
}

#d25 {
    top: 230px;
    left: 54%;
    z-index: 4;
}

#d26 {
    top: 230px;
    left: 67%;
    z-index: 4;
}

#d27 {
    top: 230px;
    left: 80%;
    z-index: 4;
}

#d28 {
    top: 270px;
    left: 2%;
    z-index: 5;
}

#d29 {
    top: 270px;
    left: 15%;
    z-index: 5;
}

#d30 {
    top: 270px;
    left: 28%;
    z-index: 5;
}

#d31 {
    top: 270px;
    left: 41%;
    z-index: 4;
}

#d32 {
    top: 270px;
    left: 54%;
    z-index: 4;
}

#d33 {
    top: 270px;
    left: 67%;
    z-index: 5;
}

#d34 {
    top: 270px;
    left: 80%;
    z-index: 5;
}

#d35 {
    top: 310px;
    left: 2%;
    z-index: 5;
}

#d36 {
    top: 310px;
    left: 15%;
    z-index: 6;
}

#d37 {
    top: 310px;
    left: 28%;
    z-index: 6;
}

#d38 {
    top: 310px;
    left: 41%;
    z-index: 6;
}

#d39 {
    top: 310px;
    left: 54%;
    z-index: 6;
}

#d40 {
    top: 310px;
    left: 67%;
    z-index: 6;
}

#d41 {
    top: 310px;
    left: 80%;
    z-index: 6;
}

#d42 {
    top: 350px;
    left: 2%;
    z-index: 7;
}

#d43 {
    top: 350px;
    left: 15%;
    z-index: 7;
}

#d44 {
    top: 350px;
    left: 28%;
    z-index: 7;
}

#d45 {
    top: 350px;
    left: 41%;
    z-index: 7;
}

#d46 {
    top: 350px;
    left: 54%;
    z-index: 7;
}

#d47 {
    top: 350px;
    left: 67%;
    z-index: 7;
}

#d48 {
    top: 350px;
    left: 80%;
    z-index: 7;
}

#d50 {
    top: 390px;
    left: 2%;
    z-index: 8;
}

#d51 {
    top: 390px;
    left: 15%;
    z-index: 8;
}

#d52 {
    top: 390px;
    left: 28%;
    z-index: 8;
}

#d53 {
    top: 390px;
    left: 41%;
    z-index: 8;
}

#d54 {
    top: 390px;
    left: 54%;
    z-index: 8;
}

#d55 {
    top: 390px;
    left: 67%;
    z-index: 8;
}

#d56 {
    top: 390px;
    left: 80%;
    z-index: 8;
}